<%= provide(:title, "Cubemunity") %>
<%= stylesheet_link_tag "home.css" %>

<div class="section" id="welcome">
  <h1>Welcome to Cubemunity</h1>
</div>
<hr id="seperator">
<div class="section" id="timer">
  <a href="/timer">
    <h2>Reach New Speeds You never Thought Possible</h2>
  </a>
</div>
<div class="section" id="community">
  <a href="/community">
    <h2>Follow Friends and get Tips From a Helpful Community</h2>
  </a>
</div>