<%= provide(:title, "Cubemunity | Community") %>
<%= provide(:type, "Post") %>

<%= render "layouts/posts" %>

<% if @signed_in_user %>
  <%= render "layouts/new" %>
<% else %>
  <h3>Sign in or sign up to post</h3>
<% end %>