<%= provide(:title, "Cubemunity | Community") %>
<%= stylesheet_link_tag "community.css" %>

<%= render "posts/show" %>

<% if @signed_in_user %>
  <%= render "posts/new" %>
<% else %>
  <h3>Sign in or sign up to post</h3>
<% end %>