.posts-and-comments a {
  color: black;
  text-decoration: none;
}

.content {
  padding-left: 5px;
}

.comment {
  padding-left: 50px;
}

#like {
  background: none;
  border: none;
  font-size: 2rem;
}

.posts-and-comments {
  border-style: solid;
  border-color: rgb(131, 131, 131);
  border-width: 2px;
  border-radius: 10px;

  padding: 10px;
}